@use "sass:math";

._footer-title {
   font-weight: 700;
   @include adaptive-property("font-size", 24, 20);
   line-height: math.div(29, 24) * 100%;
   color: #000000;
}

._title {
   @include adaptive-property("font-size", 40, 24);
   font-weight: 700;
   line-height: 120%;
   text-align: center;
}